body {
    margin: 0;
    padding: 0;
}

.toolbar {
    width: 25%;
    margin-top: 15px;
    padding-left: 45px;
}

.btn {
    display: flex;
    height: 30px;
    margin-bottom: 5px;
    border: none;
    background: none;
    font-size: 22px;
    text-align: left;
    color: crimson;
    cursor: pointer;
}

.btn:hover {
    color: forestgreen;
}

.sidebar {
    margin: 10px;
    width: 25%;
}

.sidebar .category-item {
    font-size: 22px;
    margin: 5px;
    cursor: pointer;
    padding-bottom: 15px;
    font-weight: bold;
    color: darkgreen;
}

.category-item:hover {
    color: mediumblue;
}

.products-main {
    display: flex;
    float: right;
    width: 65%;
}

.searchbar {
    width: 65%;
    display: flex;
    float: right;
}

.searchbar input {
    height: 30px;
    width: 80%;
}

.goods {
    display: flex;
    flex-wrap: wrap;
}

.goods .goods-item {
    cursor: pointer;
    margin: 5px;
    width: 30%;
    padding-top: 40px;
}

.goods-item img {
    width: 150px;
    height: 150px;
}

