body {
    margin: 0;
    padding: 0;
}

.toolbar {
    width: 25%;
    margin-top: 15px;
    padding-left: 45px;
}

.btn {
    display: flex;
    height: 30px;
    margin-bottom: 5px;
    border: none;
    background: none;
    font-size: 22px;
    text-align: left;
    color: crimson;
    cursor: pointer;
}

.btn:hover, .btn:active {
    color: forestgreen;
}

.sidebar {
    margin: 10px;
    width: 25%;
}

.sidebar .category-item {
    font-size: 22px;
    margin: 5px;
    cursor: pointer;
    padding-bottom: 15px;
    font-weight: bold;
    color: darkgreen;
}

.category-item:hover {
    color: mediumblue;
}

.products-main {
    display: flex;
    float: right;
    width: 65%;
}

.searchbar {
    width: 65%;
    display: flex;
    float: right;
}

.searchbar input {
    height: 30px;
    width: 94%;
}

.goods {
    display: flex;
    flex-wrap: wrap;
}

.goods .goods-item {
    cursor: pointer;
    margin: 5px;
    width: 30%;
    padding-top: 40px;
}

.goods-item:hover {
    border: 1px solid darkorange;
    transition: 0.3s ease-in-out;
}

.goods-item p {
    text-align: center;
    width: 60%;
    color: maroon;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: auto;
}

.goods-item h3 {
    padding: 10px;
    text-align: center;
}

.goods-item img {
    width: 150px;
    height: 150px;
    display: flex;
    margin: auto;
}

.pagination {
    width: 70%;
    display: flex;
    margin: auto;
    float: right;
}

.pages {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.page-item {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: forestgreen;
    font-size: 26px;
}

.page-item:hover, .page-item:active {
    color: crimson;
}
